<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <style type="text/css">
            body {
                background-color: #000000;
            }
            .carousel {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 480px;
                width: 800px;
            }
            .carousel-date {
                text-align: center;
                position: absolute;
                bottom: 2em;
                right: 80px;
                color: #ffffff;
            }
            .carousel-date-day, .carousel-date-mon {
                font-weight: 200;
                font-size: 2em;

            }
            .carousel-date-date {
                font-weight: bold;
                font-size: 3em;
                line-height: 1em;
            }
        </style>
    </head>
    <body>
        <div class="carousel slide" data-ride="carousel" data-pause="false" style="max-height: 100%">
            <div class="carousel-inner">
                {% for photo in photos %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <center>
                    <img class="d-block h-100" src="{{ photo.url }}">
                    </center>
                    <div class="carousel-date">
                        <div class="carousel-date-day">{{ photo.day }}</div>
                        <div class="carousel-date-date">{{ photo.date }}</div>
                        <div class="carousel-date-mon">{{ photo.mon }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>
